// Colors
$retro-purple: rgba(39, 2, 69, 0.8);
$retro-violet: rgba(135, 26, 133, 0.8);
$retro-red: rgba(255, 41, 65, 0.8);
$retro-yellow: rgba(254, 255, 56, 0.8);
$retro-magenta: rgba(254, 24, 211, 0.8);;
$retro-blue: rgba(66, 6, 241, 0.8);

body {
    background: url('./cocktail.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}

@mixin centerHorizontally {
    margin: 0px auto 0px auto;
    text-align: center;
}

@mixin retroColorPadding ($color) {
    padding: 10px;
    background-color: $color;
}

@mixin responsiveGrid ($min, $max) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, $max));
    grid-template-rows: auto;
}


header {
    @include centerHorizontally();
    padding: 2rem;
    width: 90%;
    background-color: $retro-purple;
    border-bottom: $retro-violet 4px solid;
}

// Navigation Bar
.menu {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    color: white;
    display: inline;
    list-style-type: none;
    margin: 0px 8% 0px 8%;
    padding: 1px;
    border: 1px solid transparent;
    &:hover {
        color: $retro-magenta;
        cursor: pointer;
        border-top: 2px solid $retro-magenta;
        border-bottom: 2px solid $retro-magenta;

    }
}

// content Div (Parent)
#content {
    @include centerHorizontally();
    justify-items: center;
    background-color: $retro-purple;
    font-family: 'Electrolize', sans-serif;
    width: 80%;
}

// Home Div 
#homeMenuDiv {
    @include responsiveGrid(200px, 1fr);
    margin-top: 2vh;
    h2 {
        color: $retro-yellow;
    }
    p {
        @include centerHorizontally();
        max-width: fit-content;
        margin-bottom: 30px;
        color: white;
    }
    #aboutUsDiv {
        margin: 1%;
    }
    #aboutUsText {
        width: 95%;
        @include retroColorPadding($retro-blue);
    }
    #aboutUsExtraDetails {
        width: 90%;
    }
    #imageDiv { 
        margin-top: auto;
        margin-bottom: auto;
        padding: 2%;
    }
    #aboutUsImage {
        height: 150px;
        width: 150px;
    }
}

// Menu DIV
#itemMenuDiv {
    @media only screen and (min-width: 701px) {
        @include responsiveGrid(350px, 1fr);
    }
    @media only screen and (max-width: 700px) {
        @include responsiveGrid(180px, 1fr);
    }
    margin-top: 2vh;
    .menuItem {
        padding: 2rem;
        margin: 1%;
        border: 2px solid $retro-violet;
        h3, p{
            @include centerHorizontally();
            color: white;
            margin-bottom: 2px;
            max-width: 70%;
        }
        p {
            margin-top: 15px;
        }
        .drinkImage {
            height: 150px;
            width: 150px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .description {
            @include retroColorPadding($retro-blue);
        }
        .price {
            margin-top:20px;
            font-size: 200%;
            color: $retro-yellow;
        }
    }
}

// Contact DIV
#contactMenuDiv {
    @extend #homeMenuDiv;
    #locationText {
        @include retroColorPadding($retro-blue);
    }
    #map {
        margin: 2%;
        width: 55vw;
        height: auto;
    }
}

#footer {
    display: flex;;
    margin-bottom: 0px;
    position: absolute;
    height: 5%;
    width: 99%;
    background-color:$retro-blue; 
    text-align: center;
    bottom: 0;
    p {
        color: white;
        font-family: 'Electrolize', sans-serif;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        justify-content: center;
        align-content: center;
    }
    a {
        color: white;
    }
}

