// Colors
$retro-purple: rgba(39, 2, 69, 0.8);
$retro-violet: rgba(135, 26, 133, 0.8);
$retro-red: rgba(255, 41, 65, 0.8);
$retro-yellow: rgba(254, 255, 56, 0.8);
$retro-magenta: rgba(254, 24, 211, 0.8);;
$retro-blue: rgba(66, 6, 241, 0.8);

body {
    background: url('./cocktail.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}

@mixin centerEverything {
    margin: 0px auto 0px auto;
    text-align: center;
}

header {
    @include centerEverything();
    padding: 2rem;
    width: 90%;
    background-color: $retro-purple;
    border-bottom: $retro-violet 4px solid;
}

// Navigation Bar
.menu {
    font-size: 20px;
    color: white;
    display: inline;
    list-style-type: none;
    margin: 0px 8% 0px 8%;
    padding: 1px;
    border: 1px solid transparent;
    &:hover {
        color: $retro-magenta;
        cursor: pointer;
        border-top: 2px solid $retro-magenta;
        border-bottom: 2px solid $retro-magenta;

    }
}

#content {
    @include centerEverything();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    width: 90%;
    background-color: $retro-purple;
}

.menuItem {
    padding: 2rem;
    margin: 1%;
    border: 2px solid $retro-violet;
    h3, p{
        @include centerEverything();
        color: white;
        margin-bottom: 2px;
        width: 60%;
    }
}

.ingredients {
    text-style: italic;
}